footer {
  bottom: 0;
  text-align: center;
  width: 100%;
}

img {
  border-radius: 10%;
}

h2 {
  color: #419197;
}

h1 {
  color: #12486B;
}

h3 {
  color: #22668D;
}

.margin {
  border-radius: 3%;
}

.content {
  text-align: center;
  background-color: #CAEDFF;
  padding: 10%;
}

.paratext {
  font-style: italic;
  font-size: large;
}

.padtext {
  padding: 80px 0 0 0;
}
.padimag {
  padding: 30px;
}
.contacticon {
  height: 20px;
  width: 20px;
  display: inline;
  margin: 20px 20px;
}
